<!--
Author: Christine Kweri
Student ID : 300957096
Date: 10-11-2020
-->


<!--Bottom Nav-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h5 class="display-6 navbar-text" >&copy; Copyright 2020 . All Rights Reserved - Christine Kweri</h5>
    </nav>
  </footer>