<!--
Author: Christine Kweri
Student ID : 300957096
Date: 10-11-2020
FileName : footer.ejs

-->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>

</html>